<!DOCTYPE html>
<html>

<head>
  <title>sign in</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/sign-in.css">
    <style>
        .main {
        margin: auto;
        width: 60%;
        border: 3px solid #73AD21;
        padding: 10px;
        }
        body{
            background-color: white;
        }
		.row {
			margin: 0;
			padding: 0;
		}
		.col {
			margin: 0;
			padding: 0;
		}
    </style>
</head>
<body>
    <ul id="reportList" class="list-group">
      </ul>
      <div id="reportData">

      </div>
      
   <script>
       function getCustInfo() {
                var email = sessionStorage.getItem("emailID");

                  $.ajax({
                      url: "http://localhost:8000/getrep/",
                      type: "POST",
                      data: {
                            // dent: sessionStorage.getItem("ident")
                      },
                      success: function(response){
                        var data = response.data_list;
                        data.forEach(function(el) {
                            var node = document.createElement('li');
                            node.setAttribute('class', 'list-group-item');
                            node.onclick = function() {
                                    $.ajax({
                                        url: 'http://localhost:8000/getReportTotal/',
                                        type: 'POST',
                                        data: {
                                            reportID: el.reportID,
                                        },
                                        success: function(response) {
                                            console.log(response);
											Object.keys(response.basic).forEach(function(key) {
												var rowNode = document.createElement('div');
												rowNode.setAttribute('class', 'row');
												var colKeyNode = document.createElement('div');
												colKeyNode.setAttribute('class', 'col-xs-6');
												var colKeyTextNode = document.createTextNode(key);
												colKeyNode.appendChild(colKeyTextNode);
												var colValueNode = document.createElement('div');
												colValueNode.setAttribute('class', 'col-xs-6');
												var colValueTextNode = document.createTextNode(response.basic[key]);
												colValueNode.appendChild(colValueTextNode);
												rowNode.appendChild(colKeyNode);
												rowNode.appendChild(colValueNode);
												document.getElementById('reportData').appendChild(rowNode);
											});
											Object.keys(response.report_value).forEach(function(key) {
												var rowNode = document.createElement('div');
												rowNode.setAttribute('class', 'row');
												var colKeyNode = document.createElement('div');
												colKeyNode.setAttribute('class', 'col-xs-6');
												var colKeyTextNode = document.createTextNode(key);
												colKeyNode.appendChild(colKeyTextNode);
												var colValueNode = document.createElement('div');
												colValueNode.setAttribute('class', 'col-xs-6');
												var colValueTextNode = document.createTextNode(JSON.stringify(response.report_value[key]));
												colValueNode.appendChild(colValueTextNode);
												rowNode.appendChild(colKeyNode);
												rowNode.appendChild(colValueNode);
												document.getElementById('reportData').appendChild(rowNode);
											});
											Object.keys(response.list).forEach(function(key) {
												var rowNode = document.createElement('div');
												rowNode.setAttribute('class', 'row');
												var colKeyNode = document.createElement('div');
												colKeyNode.setAttribute('class', 'col-xs-6');
												var colKeyTextNode = document.createTextNode(key);
												colKeyNode.appendChild(colKeyTextNode);
												var colValueNode = document.createElement('div');
												colValueNode.setAttribute('class', 'col-xs-6');
												var colValueTextNode = document.createTextNode(response.list[key].join(', '));
												colValueNode.appendChild(colValueTextNode);
												rowNode.appendChild(colKeyNode);
												rowNode.appendChild(colValueNode);
												document.getElementById('reportData').appendChild(rowNode);
											});
											var rowNode = document.createElement('div');
											rowNode.setAttribute('class', 'row');
											var colKeyNode = document.createElement('div');
											colKeyNode.setAttribute('class', 'col-xs-6');
											var colKeyTextNode = document.createTextNode('comment');
											colKeyNode.appendChild(colKeyTextNode);
											var colValueNode = document.createElement('div');
											colValueNode.setAttribute('class', 'col-xs-6');
											var colValueTextNode = document.createTextNode(response.comment);
											colValueNode.appendChild(colValueTextNode);
											rowNode.appendChild(colKeyNode);
											rowNode.appendChild(colValueNode);
											document.getElementById('reportData').appendChild(rowNode);
											
											rowNode = document.createElement('div');
											rowNode.setAttribute('class', 'row');
											colKeyNode = document.createElement('div');
											colKeyNode.setAttribute('class', 'col-xs-6');
											colKeyTextNode = document.createTextNode('summary');
											colKeyNode.appendChild(colKeyTextNode);
											colValueNode = document.createElement('div');
											colValueNode.setAttribute('class', 'col-xs-6');
											colValueTextNode = document.createTextNode(response.summary);
											colValueNode.appendChild(colValueTextNode);
											rowNode.appendChild(colKeyNode);
											rowNode.appendChild(colValueNode);
											document.getElementById('reportData').appendChild(rowNode);
                                        }
                                    })
                                }
                            var textnode = document.createTextNode(el.reportID);
                            node.appendChild(textnode);
                            document.getElementById('reportList').appendChild(node);

                        });
                      }
                  })
                }
                getCustInfo();





   </script>

</body>
</html>
