<!DOCTYPE html>
<html>

<head>
  <title>sign in</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <style>
      
    .container-fluid{
	min-height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	/* background-color: #FEB83F; */
}
  </style>
  
</head>

<body>
    <div class="container-fluid">
        <a href="http://localhost:8000/inpcustomer/"><button class="btn btn-default" name="customer">Customer</button> </a>
        <a href="http://localhost:8000/inpdoctor/"><button class="btn btn-default" name="doctor">Doctor</button> </a>
        <a href="http://localhost:8000/inpchecker/"><button class="btn btn-default" name="checker">Checker</button> </a>
    </div>
</body>

</html>